@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #c9a0dc;
  --primary-color-darkest: #843da5;
  --primary-color-dark-3: #a968c7;
  --primary-color-dark-2: #b47bce;
  --primary-color-dark-1: #be8dd5;
  --primary-color-light-1: #d4b3e3;
  --primary-color-light-2: #dec5ea;
  --primary-color-light-3: #e9d8f1;

  --background-primary-color: #faf6fc;
  --background-secondary-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  background-color: var(--background-primary-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */

.logo-box {
  display: flex;
}

.logo-box img {
  height: 50px;
  width: 50px;
  margin: 20px 20px 0 0;
}

.logo-box h1 {
  margin-top: 25px;
}
.navbar {
  background-color: var(--primary-color-dark-3);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
  margin-top: 15px;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color-dark-3);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input:focus {
  outline: none;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b47bce;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}

.btn:hover {
  transform: scale(0.98);
}

.design img {
  opacity: 0.9;
  border-radius: 10px;
}

.main {
  padding: 100px;
}

.main-heading {
  max-width: 500px;
  letter-spacing: 1.1px;
  margin: auto;
}

.main .grid h3 {
  font-size: 35px;
}

.main .grid p {
  font-size: 20px;
  font-weight: bold;
}

.main img {
  width: 36px;
  height: 36px;
}

.main-sub .container {
  margin-top: -50px;
}

.main-sub .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.main-sub .grid img {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  border-radius: 10px;
}

/* Design */
.design .grid {
  grid-template-columns: 4fr 3fr;
}

/* Gallery */
.gallery {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1rem;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}
.gallery__item--1 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
.gallery__item--2 {
  grid-row: 1 / span 3;
  grid-column: 3 / span 3;
}
.gallery__item--3 {
  grid-row: 1 / span 2;
  grid-column: 6 / 7;
}
.gallery__item--4 {
  grid-row: 1 / span 2;
  grid-column: 7 / -1;
}
.gallery__item--5 {
  grid-row: 3 / span 3;
  grid-column: 1 / span 2;
}
.gallery__item--6 {
  grid-row: 4 / span 2;
  grid-column: 3 / span 2;
}
.gallery__item--7 {
  grid-row: 4 / 5;
  grid-column: 5 / 6;
}
.gallery__item--8 {
  grid-row: 3 / span 2;
  grid-column: 6 / span 2;
}
.gallery__item--9 {
  grid-row: 3 / span 3;
  grid-column: 8 / -1;
}
.gallery__item--10 {
  grid-row: 6 / span 2;
  grid-column: 1 / 2;
}
.gallery__item--11 {
  grid-row: 6 / span 2;
  grid-column: 2 / span 2;
}
.gallery__item--12 {
  grid-row: 6 / span 2;
  grid-column: 4 / 5;
}
.gallery__item--13 {
  grid-row: 5 / span 3;
  grid-column: 5 / span 3;
}
.gallery__item--14 {
  grid-row: 6 / span 2;
  grid-column: 8 / -1;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

/* Features */
.features-sub-head .grid {
  gap: 60px;
}

.features-head img,
.features-sub-head img {
  width: 200px;
  justify-self: flex-end;
}

.features-sub-head-left h1 {
  text-align: center;
}

.features-sub-head-right h1 {
  text-align: center;
}

/*Pricing*/
.pricing-head img {
  width: 200px;
  justify-self: flex-end;
}

.pricing-sub-head .grid {
  gap: 100px;
}

.pricing-sub-head ul {
  list-style-type: disc;
}

.pricing-sub-head li {
  margin: 20px 0;
  font-size: 20px;
}

/*Disclaimer*/
.disclaimer {
  background-color: var(--primary-color-light-3);
}
.disclaimer .grid {
  grid-template-columns: 100%;
  padding: 20px;
}

/* Footer */

nav a {
  line-height: 1.6;
}

.footer .social a {
  margin: 0 10px;
}

nav a:hover {
  border-bottom: 1px #fff solid;
}

.footer .social .fab {
  transition: all 0.3s;
}

.footer .social .fab:hover {
  transform: scale(1.15);
}
